@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}
body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../img/bg.png") no-repeat center center;
  background-size: cover;
  transform: scale(2);
}
body #include-logo {
  position: relative;
  width: 40%;
}
@media (min-width: 1025px) {
  body #include-logo {
    margin-top: 2vw;
    margin-left: 3vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body #include-logo {
    margin-top: 3vw;
    margin-left: 4vw;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  body #include-logo {
    margin-top: 3vw;
    margin-left: 4vw;
  }
}
@media (max-width: 425px) {
  body #include-logo {
    margin-top: 8vw;
    margin-left: 8vw;
  }
}
body #include-logo img {
  width: 65px;
}
body #include-logo #about-container {
  position: absolute;
  top: 28%;
  left: -0.3vw;
  -webkit-transform: rotate(-90deg);
}
body #include-logo #about-container a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}
body #include-logo h1 {
  position: absolute;
  top: 2vw;
}
@media (min-width: 1025px) {
  body #include-logo h1 {
    left: 4.5vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body #include-logo h1 {
    left: 6vw;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  body #include-logo h1 {
    left: 8vw;
  }
}
@media (max-width: 425px) {
  body #include-logo h1 {
    left: 15vw;
  }
}
body #include-logo h1 a {
  text-decoration: none;
  color: black;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
body #include-logo nav {
  position: absolute;
  top: 110px;
}
@media (min-width: 1025px) {
  body #include-logo nav {
    left: 4.5vw;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body #include-logo nav {
    left: 6vw;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  body #include-logo nav {
    left: 8vw;
  }
}
@media (max-width: 425px) {
  body #include-logo nav {
    left: 15vw;
  }
}
body #include-logo nav a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 43px;
}
body #include-logo nav a:link {
  font-size: 18px;
}
body #include-logo nav a:hover {
  font-size: 16px;
  color: grey;
}
body .particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(8vw, 2vh, 49px);
  }
}
body .particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  animation-delay: -0.5s;
  transform: translate3d(51vw, 72vh, 53px);
  background: red;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(6vw, 69vh, 62px);
  }
}
body .particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.75;
  height: 15px;
  width: 15px;
  animation-delay: -1s;
  transform: translate3d(3vw, 69vh, 19px);
  background: red;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(83vw, 1vh, 60px);
  }
}
body .particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.68;
  height: 6px;
  width: 6px;
  animation-delay: -1.5s;
  transform: translate3d(20vw, 46vh, 94px);
  background: red;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(73vw, 13vh, 90px);
  }
}
body .particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 1;
  height: 14px;
  width: 14px;
  animation-delay: -2s;
  transform: translate3d(39vw, 4vh, 9px);
  background: red;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(54vw, 19vh, 74px);
  }
}
body .particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.73;
  height: 13px;
  width: 13px;
  animation-delay: -2.5s;
  transform: translate3d(53vw, 82vh, 16px);
  background: red;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(24vw, 54vh, 5px);
  }
}
body .particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.75;
  height: 13px;
  width: 13px;
  animation-delay: -3s;
  transform: translate3d(50vw, 22vh, 55px);
  background: red;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(56vw, 57vh, 10px);
  }
}
body .particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.95;
  height: 8px;
  width: 8px;
  animation-delay: -3.5s;
  transform: translate3d(4vw, 70vh, 23px);
  background: red;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(88vw, 89vh, 39px);
  }
}
body .particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.95;
  height: 12px;
  width: 12px;
  animation-delay: -4s;
  transform: translate3d(71vw, 8vh, 35px);
  background: red;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(60vw, 73vh, 30px);
  }
}
body .particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  animation-delay: -4.5s;
  transform: translate3d(76vw, 54vh, 22px);
  background: red;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(48vw, 55vh, 31px);
  }
}
body .particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.14;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(7vw, 32vh, 26px);
  background: red;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(3vw, 9vh, 53px);
  }
}
body .particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.34;
  height: 15px;
  width: 15px;
  animation-delay: -5.5s;
  transform: translate3d(64vw, 45vh, 66px);
  background: red;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(14vw, 53vh, 98px);
  }
}
body .particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.03;
  height: 11px;
  width: 11px;
  animation-delay: -6s;
  transform: translate3d(88vw, 72vh, 83px);
  background: red;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(52vw, 82vh, 50px);
  }
}
body .particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.38;
  height: 14px;
  width: 14px;
  animation-delay: -6.5s;
  transform: translate3d(56vw, 78vh, 64px);
  background: red;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(68vw, 11vh, 78px);
  }
}
body .particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.31;
  height: 12px;
  width: 12px;
  animation-delay: -7s;
  transform: translate3d(86vw, 90vh, 6px);
  background: red;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(10vw, 10vh, 51px);
  }
}
body .particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  animation-delay: -7.5s;
  transform: translate3d(81vw, 85vh, 89px);
  background: red;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(37vw, 34vh, 36px);
  }
}
body .particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.67;
  height: 10px;
  width: 10px;
  animation-delay: -8s;
  transform: translate3d(40vw, 11vh, 56px);
  background: red;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(26vw, 23vh, 58px);
  }
}
body .particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.63;
  height: 15px;
  width: 15px;
  animation-delay: -8.5s;
  transform: translate3d(36vw, 6vh, 45px);
  background: red;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(48vw, 4vh, 94px);
  }
}
body .particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.37;
  height: 14px;
  width: 14px;
  animation-delay: -9s;
  transform: translate3d(78vw, 15vh, 100px);
  background: red;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(40vw, 32vh, 15px);
  }
}
body .particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.67;
  height: 13px;
  width: 13px;
  animation-delay: -9.5s;
  transform: translate3d(3vw, 23vh, 6px);
  background: red;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 46vh, 74px);
  }
}
body .particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.31;
  height: 13px;
  width: 13px;
  animation-delay: -10s;
  transform: translate3d(88vw, 14vh, 3px);
  background: red;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(36vw, 10vh, 56px);
  }
}
body .particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.8;
  height: 7px;
  width: 7px;
  animation-delay: -10.5s;
  transform: translate3d(51vw, 85vh, 91px);
  background: red;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(79vw, 53vh, 85px);
  }
}
body .particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.11;
  height: 7px;
  width: 7px;
  animation-delay: -11s;
  transform: translate3d(73vw, 40vh, 6px);
  background: red;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(23vw, 80vh, 54px);
  }
}
body .particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.15;
  height: 15px;
  width: 15px;
  animation-delay: -11.5s;
  transform: translate3d(71vw, 50vh, 59px);
  background: red;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(61vw, 38vh, 20px);
  }
}
body .particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.52;
  height: 10px;
  width: 10px;
  animation-delay: -12s;
  transform: translate3d(75vw, 68vh, 79px);
  background: red;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(41vw, 84vh, 12px);
  }
}
body .particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.2;
  height: 11px;
  width: 11px;
  animation-delay: -12.5s;
  transform: translate3d(26vw, 50vh, 12px);
  background: red;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(13vw, 66vh, 47px);
  }
}
body .particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.82;
  height: 11px;
  width: 11px;
  animation-delay: -13s;
  transform: translate3d(31vw, 24vh, 25px);
  background: red;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(45vw, 73vh, 50px);
  }
}
body .particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  animation-delay: -13.5s;
  transform: translate3d(60vw, 29vh, 36px);
  background: red;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(70vw, 4vh, 23px);
  }
}
body .particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.09;
  height: 13px;
  width: 13px;
  animation-delay: -14s;
  transform: translate3d(66vw, 39vh, 74px);
  background: red;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(68vw, 58vh, 30px);
  }
}
body .particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  animation-delay: -14.5s;
  transform: translate3d(3vw, 39vh, 63px);
  background: red;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(49vw, 29vh, 67px);
  }
}
body .particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  animation-delay: -15s;
  transform: translate3d(44vw, 24vh, 39px);
  background: red;
}
